section{
    min-height: 100vh;
}

.home{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

    background: url(../img/fondoOne.png) no-repeat;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home .content{
    max-width: 50%;
    margin-left: 10%;
}

.home .content h3{
    font-size: 6rem;
    color: var(--white);
    margin-bottom: 15px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.home .content span{
    font-size: 3.5rem;
    font-weight: 600;
    color: var(--claro);
    padding: 1rem 0;
    line-height: 1.5rem;
}

.home .content p{
    font-size: 1.5rem;
    color: var(--white);
    padding: 1rem 0;
    line-height: 1.5rem;
}

.btn{
    display: inline-block;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
    margin-top: 1rem;
    border: .1rem solid rgba(0, 0, 0, 0.5);
    border-radius: 5rem;
    background: var(--teal);
    color: var(--oscuro);
    padding: .9rem 3.5rem;
    cursor: pointer;
    font-size: 1.7rem;
    text-decoration: none;
    transition: .2s linear;
    font-weight: 600;
}

.btn:hover{
    background: var(--oscuro);
    color: var(--white);
}

@media (max-width:991px){
    section{
        min-height: 100vh;
    }

    .home{
        background-position: left;
    }

    .home .content{
        max-width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-left: 0;
    }

    .home .content p{
        text-align: center;
    }
}

@media (max-width:720px){
    
    .home .content h3{
        font-size: 5rem;
    }

    .home .content span{
        font-size: 2.5rem;
    }
}