@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "./header.css";
@import "./home.css";
@import "./setup.css";
@import "./gitGithub.css";
@import "./html.css";
@import "./css.css";
@import "./contact.css";
@import "./footer.css";

:root {
    --white: #ffffff;
    --black: #000000;
    --claro: #8696FE;
    --medio: #4942E4;
    --oscuro: #190482;
    --teal: #49dbd2;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
    font-size: 62.5%;

}


@media (max-width:991px){
    html{
        font-size: 55%;
    }
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }
}